audiomentations
beautifulsoup4
datasets[audio]>=3.6,<4
evaluate
fastapi
gradio
huggingface-hub
jiwer
librosa
numpy
pandas
persian-tools
pydub
qwen-asr==0.0.6
requests
safetensors
silero-vad
soundfile
torch
tqdm
transformers>=4.57,<5
uvicorn[standard]
accelerate
python-multipart
torchaudio
scipy
pyarrow
rapidfuzz
fast-mp3-augment
