audiomentations
beautifulsoup4
datasets[audio]
evaluate
fastapi
jiwer
librosa
numpy
pandas
persian-tools
pydub
qwen-asr
requests
safetensors
silero-vad
soundfile
torch
tqdm
transformers
uvicorn[standard]
